@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<head>
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="/js/site.js"></script>
</head>
<style>
  
    html, body{
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        background-color: #f2f2f2;
        font-size: 16px;
        

    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        padding: 0.35em 5em;
        width: 100%;
        /*Added padding to the navbar */
    }

        .navbar a {
            color: white;
            text-decoration: none;
            font-size: 1.2rem;
            transition: text-decoration 0.3s ease;
        }

            .navbar a:hover {
                
                background-color: white;
                color: black;
                }
    .navLinks{
        display: flex;
        justify-content: space-between;
        padding-right: 2em;
        

    }

    .navLinks a{
        padding: 0 5rem;
    }

    .logo img {
        height: 3.2em;
    }

    .fishBox{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -4rem;
    }
    .TextFish{
        padding: auto;
    }

    .TextFish a{
        text-decoration: none;
        margin-right: 2rem;
        padding: auto;
    }
    .TextFish h2{
        margin: 2rem 0;
        margin-right: 2rem;
        padding: auto;
    }

    .TextFish p{
            
            margin: auto;
            padding: auto;
    }
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        margin: 0;
        padding: 0;
        width: 100%;

    }
    .footer-links{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .footer-contacts {
        padding: 0 5em;
    }

    .footer a,
    .footer p {
        text-decoration: none;
        font-family: 'Franklin Gothic Medium', sans-serif;
        font-size: 20px;
        color: white;
        margin: 0 2em;
    }
    @@media screen and (max-width: 800px) {
       
    .fishBox {
        flex-direction: column-reverse;
        align-items: center;
    }

    .TextFish {
        position: static;
        width: 100%;
        font-size: 15px;
        padding: 10%;
        padding-top: 5%;
        text-align: center;
    }

    .fish {
        width: 100%;
        max-width: none;
        margin-left: 0;
    }
}

    @@media screen and (max-width: 1310px) and (min-width: 801px) {
    .fishBox {
        flex-direction: column-reverse;
        align-items: center;
    }

    .TextFish {
        position: static;
        width: 100%;
        font-size: 20px;
        padding: 30px;
        padding-top: 5%;
        text-align: center;
    }

    .fish {
        width: 100%;
        max-width: none;
        margin-left: 0;
    }
}



    @@media screen and (max-width: 250px) {
    .navbar {
        padding: 0.5rem 1rem; /* Added padding */
    }

    .navLinks a {
        padding: 0 0.5rem; /* Added padding */
        font-size: 1rem; /* Added font size */
    }

    .TextFish {
        font-size: 12px; /* Added font size */
        padding: 5%; /* Added padding */
    }

    .footer a,
    .footer p {
        font-size: 16px; /* Added font size */
        margin: 0 0.5em; /* Added margin */
    }
}

    @@media screen and (min-width: 1300px) {
    .fishBox {
        flex-direction: column-reverse;
        align-items: center;
    }

    .TextFish {
        position: static;
        width: 100%;
        font-size: 20px;
        padding: 30px;
        padding-top: 5%;
        text-align: center;
    }

    .fish {
        width: 100%;
        max-width: none;
        margin-left: 0;
    }
}
</style>




<div class="navbar">
    <div class="logo-box">
    <a asp-controller="Home" asp-action="Index" class="logo">
        <img src="/lib/Logo.png" alt="Go to home page">
    </a>
    </div>
    <div class="navLinks">
    <a asp-controller="Home" asp-action="About">About</a>
    <a asp-controller="Home" asp-action="Menu">Menu</a>
    <a asp-controller="Booking" asp-action="index">Booking</a>
    <a asp-controller="Home" asp-action="Admin">Login</a>

    </div>
</div>

    @* <div class="dropdown">
        <a href="javascript:void(0);" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
        <br><br><br><br>
        <div class="dropdown-content">
            <div class="header">
                <div class="row">
                    <div class="column">
                        <a asp-controller="Home" asp-action="About">About</a>
                        <a asp-controller="Home" asp-action="Menu">Menu</a>
                        <a asp-controller="Home" asp-action="Booking">Booking</a>
                    </div>
                </div>
            </div>
        </div>
    </div> *@

<br>

<div class="fishBox">
    <div class="right">
    <img class="fish" src="/lib/7Kottu.png" alt="Fish"></a>
    </div>

    <div class="TextFish">
        <h2>RASAI</h2>
      
        <b><p1>Fabulous Sri Lankan food</p1></b>
 
        <a asp-controller="MenuItems" asp-action="Index"><h4>Visit our menu!</h4></a>
    </div>
</div>
<br>



<a asp-controller="Home" asp-action="About"><img class="ImgHome" src="/lib/About.png" alt="About"></a>
<a asp-controller="Home" asp-action="Menu"><img class="ImgHome" src="/lib/Menu.png" alt="Menu"></a>
<a asp-controller="Home" asp-action="Booking"><img class="ImgHome" src="/lib/Booking.png" alt="Booking"></a>
<br>

<footer>
    <div class="footer">
        <div class="footer-links">
            <ul>
                <a asp-controller="Home" asp-action="About">About</a>
                <a asp-controller="Home" asp-action="Menu">Menu</a>
                <a asp-controller="Home" asp-action="Booking">Booking</a>
            </ul>
        </div>
        <div class="footer-contacts" id="contacts">
            <ul>
                <li><a>Contacts</a></li>
                <li><p><b>info@rasai.co.nz</b></p></li>
                <li><p><b>0210 452 333</b></p></li>
            </ul>
        </div>
    </div>
</footer>

