@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<div class="row">
    <div class="column side">
        <div class="header">
            <a asp-controller="Home" asp-action="Index" class="logo-link"><img class="logo" src="~/lib/Logo.png" alt="Go to home page"></a>
            <a asp-controller="Home" asp-action="About">About</a>
            <a asp-controller="Home" asp-action="Menu">Menu</a>
            <a asp-controller="Home" asp-action="Booking">Booking</a>
        </div>
    </div>
</div>

    <h1>Online</h1>
    <div class="whitebg">
        <a href="About.html" class="body-links-home"><img src="~/lib/About.png" alt="Go to About page"></a>
        <a href="Menu.html" class="body-links-home"><img src="~/lib/Menu.png" alt="Go to Menu page"></a>
        <a href="Booking.html" class="body-links-home"><img src="~/lib/Booking.png" alt="Go to Booking page"></a>
    </div>




    <footer>
        <br>
        <div class="footer">
        <a asp-controller="Home" asp-action="About">About</a>
            <p1><b>info@rasi.co.nz</b></p1><br>
        <a asp-controller="Home" asp-action="Menu">Menu</a>
            <p1><b>0210 452 333</b></p1><br>
        <a asp-controller="Home" asp-action="Booking">Booking</a><br><br>
        </div>
    </footer>
